{
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "no-console": 0,
    "no-unused-vars": ["error", {
      "varsIgnorePattern": "AsyncProps"
    }]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "React": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
