{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "eslint --fix",
    "node_modules/.bin/prettier --write --config .prettierrc",
    "git add",
    "npm test"
  ]
}
